---
import Layout from "../layout/Layout.astro";
import { ExperienciaData } from "../data/Experiencia";
import Timeline from "../components/experiencia/Timeline.astro";

---

<Layout
    title="Antonio García - Experiencia Gerente de cuenta"
    description="Experiencia como gerente de cuenta enfocado en tecnologia de mas de 30 años, especializado en proyetos BPO"
>
    <h1>Experiencia</h1>
    <Timeline />
</Layout>
