@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Belgiano';
    src: url('/fonts/Belgiano.otf') format('opentype');
}

@layer components {
    .page {
        @apply py-8;

    }

    .page_section {
        @apply w-[90%] md:w-[80%] mx-auto ;

    }

    .highlight {
        @apply bg-gradient-to-r from-amber-600 to-amber-500 text-transparent bg-clip-text inline-block font-semibold
    }

    .navitem {
        @apply transition-all duration-150 hover:text-amber-200;
    }
}

@layer utilities {
    .animate-scroll {
        animation: scroll 20s linear infinite;
      }
}
@keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }