---
import { YearsExperience } from "./YearsExperience";


---

<article class=" lg:px-8 md:py-4 flex flex-col items-end gap-2 md:gap-4">
    <h1 class="text-lg md:text-5xl lg:text-6xl mix-blend-plus-darker text-slate-50 drop-shadow-xl font-semibold">ANTONIO GARCIA GARCIA</h1>
    <h2 class=' md:text-3xl drop-shadow-xl text-amber-200 '>GERENTE DE CUENTA SENIOR</h2>
    <YearsExperience client:load />
</article>
