---

---
<nav class="flex w-full justify-around py-2 md:w-2/4 mx-auto text-lg md:text-2xl text-slate-100  bg-black/30 rounded ring-2 ring-black/60 backdrop-blur-md shadow-lg ">
    <a class="navitem"  href="/">Inicio</a>
    <a class="navitem" href="/experiencia">Experiencia</a>
    <a class="navitem"  href="">Educación</a>
</nav>