---
import { ViewTransitions } from 'astro:transitions'
import Header from '../sections/Header/Header.astro'
import '../global.css'

interface Props {
	title: string
	description: string
}

const {title, description} = Astro.props

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/jpg" href="/img/cover_photo.jpg" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="font-Belgiano min-h-screen text-gray-800 bg-[#e0e0e0]">
		<Header />
		<slot />
	</body>
</html>
